body {
    background-color: #242424;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #333;
}

.logo {
    height: 50px;
}

.card {
    background-color: #202020;
    border: 4px solid #E3CDFE;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    color: #fff;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card i {
    color: #fff;
    cursor: pointer;
}

#advance-btn {
    background-color: #E3CDFE;
    color: #242424;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

#advance-btn:hover {
    background-color: #ccc;
}

#exam-name {
    background-color: #191919;
    border: none;
    border-radius: 20px;
    color: #ccc;
}

#exam-name::placeholder,
#exam-description::placeholder {
    color: #a8a8a8;
    opacity: 1;
}

#exam-description {
    height: 200px;
    background-color: #191919;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
}

.container_branding {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin-left: 6px;
    color: #fff;
}

#logo_tm {
    height: 50px;
    width: 50px;
    margin-right: 6px;
}

#logo_tm img {
    height: 100%;
    width: 100%;
}

.profile-icon {
    color: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.profile-icon i {
    font-size: 2rem;
    z-index: 999;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}


#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

#close-btn:hover {
    color: #ccc;
}

#card-section {
    max-width: 800px;
    margin: 0 auto;
}

#generateCardBtn,
#deleteCardBtn,
#returnPageBtn {
    border-radius: 20px;
}
